<section id="user">
    <div class="user-info">
        <div class="user-logo">
            <img src="/static/images/user-logo.webp">
        </div>
        <h1 class="user-email">{{currentUser.email}}</h1>
        <h2 class="created-blogs-count">Total Created Blogs: {{createdLength}}</h2>
        <h2 class="followed-blogs-count">Total Followed Blogs: {{followedLength}}</h2>
    </div>
</section>
<section class="profile-blogs">
    <div class="created-blogs">
        <h2 class="section-title">Created Blogs</h2>
        {{#if created}}
            {{#each created}}
                {{> info}}
            {{/each}}
        {{else}}
         {{!-- If there are no created blogs --}}
            <h2 class="no-blog-in-profile">You haven't published a blog yet...</h2>
                
        {{/if}}
    </div>

    <div class="followed-blogs">
        <h2 class="section-title">Followed Blogs</h2>
        {{#if followed}}
            {{#each followed}}
                {{> info}}
            {{/each}}
        {{else}}
         {{!-- If there are no followed blogs --}}
            <h2 class="no-blog-in-profile">You have no blogs followed yet…</h2>
        {{/if}} 
    </div>

</section>