<section id="catalog-section">

    <h1 class="item">
        {{model.title}}
        <div class="f-right">
            <a class="action pad-small f-left" href="/model/edit/{{model._id}}">Edit</a>
            <a class="action pad-small f-left" href="/model/delete/{{model._id}}">Delete</a>
        </div>
    </h1>
    <div class="item padded">

        <div class="layout right large">

            <div class="col">
                <img src="{{model.image}}" class="img-large">
            </div>

            <div class="content pad-med">

                <p>In category: <strong>{{model.category}}</strong></p>
                <p>{{model.description}}</p>

                <div class="align-center">
                    <div>
                        Current price: $<strong>{{model.price}}</strong>
                    </div>

                    <div>
                        <!-- If there is a bidder -->
                        {{#if bidderName}}
                        Bid by <strong>{{bidderName}}</strong>
                        {{else}}
                        <!-- # Bonus: If there is a bidder -->
                        <!--

                                    <a class="action pad-med cta" href="#">Close Auction</a>
                                    
                                    # End of Bonus -->

                        <!-- If there are no bids -->
                        No bids
                        {{/if}}
                    </div>
                </div>

            </div>
        </div>

        <footer>Listed by {{authorName}}</footer>
    </div>

</section>